/* 
Big Card Styles
 */

.bigCard {
  background-color: black;
  text-align: left;
  padding-left: 3rem;
}

/* LATEST MOVIE STYLES */

.lastMovieText {
  font-family: "Roboto Condensed";
  font-size: 25px;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
  margin-bottom: 15px;
}

/* MOVIE NAME STYLES */

.movieName {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1;
  font-family: "Roboto";
  font-size: 35px;
  width: 380px;
  font-weight: 400;
  margin-bottom: 13px;
  margin-top: 0;
}

/* 
MOVIE INFO STYLES
 */

.movieInfo {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
}

.movieInfo span:not(:last-child) {
  margin-right: 10px;
}

.movieRestriction {
  background-color: gray;
  border-radius: 2px;
  margin-top: 0;
}
