/* 
Big Card Styles
 */

.bigCard {
  background-color: black;
}

.lastMovieText {
  font-family: "Roboto Condensed";
  font-size: 35px;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
}

.movieName {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  font-family: "Roboto";
  font-size: 35px;
  width: 380px;
  font-weight: 400;
}
