/* 
Big Card Styles
 */

.bigCard {
  /* border: 1px solid red; */
  background-color: black;
}

.lastMovieText {
  font-family: "Roboto Condensed";
  font-size: 35px;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
}
