/* TOGGLE BUTTON STYLES */
.toggleButton {
  font-size: 1.3rem;
  padding: 5px 40px;
  text-transform: capitalize;
  border-radius: 15px;
  margin-right: 2rem;
  border: none;
  color: #fff;
}
.toggleButton_enable {
  background-color: #a13cbf;
}

.toggleButton_disable {
  background-color: #343434;
}
