.categorySection {
  margin: 3rem 3rem;
}
/* CATEGORY HEADING STYLES */
.categoryHeader {
  width: 100%;
  height: 50px;
}
.categoryHeading {
  text-align: left;
  float: left;
  font-size: 18px;
}
.categoryHeading h3 {
  margin-top: 4px;
}
.categoryButton {
  float: right;
}
/* CATEGORY BODY STYLES */
.categoryBody {
  background-color: bisque;
  overflow: auto;
  white-space: nowrap;
  height: 360px;
  width: 100%;
  margin: 0;
}
