/* SMALL CARD STYLES */
.smallCard {
  position: relative;
  text-align: left;
  width: 400px;
  height: 280px;
}
/* Image styles */
.moviePoster {
}
/* Movie name styles */
.movieName {
  position: absolute;
  bottom: 0.1rem;
  left: 1rem;
  text-transform: uppercase;
  color: #fff;
  width: 191px;
  text-align: left;
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 300;
  z-index: 10;
}
