.withSpinner_container {
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}
.withSpinner {
  margin: auto;
  border: 5px solid hsl(0, 0%, 55%);
  border-radius: 50%;
  border-top: 5px solid #a13cbf;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
