.moviesPage_container {
  text-align: left;
  margin: 2rem;
}

.moviesPage_footer {
  margin: 3rem auto;
  text-align: center;
}

.moviesPage_footer button {
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 5px 10px;
  background: #393939aa 0% 0% no-repeat padding-box;
  color: #fff;
  border: #393939aa;
}
.moviesPage_footer button:not(:last-child) {
  margin-right: 1rem;
}
.moviesPage_footer button:hover,
.moviesPage_footer button:active {
  cursor: pointer;
  background: #7a7a7aaa 0% 0% no-repeat padding-box;
  color: #fff;
  border: #7a7a7aaa;
}

button.moviesPage_footer_button_active {
  background-color: #7a7a7aaa;
  color: #fff;
  border: #7a7a7aaa;
}
