/* MOVIES PAGE CONTAINER STYLES */
.moviesPage_container h1 {
  margin-left: 5rem;
  text-align: left;
}
/* MOVIES PAGE BODY STYLES */
.moviesPage_body {
  margin: auto 2rem;
  border: 1px solid #fff;
}

/* MOVIES PAGE FOOTER STYLES */
.moviesPage_footer {
  margin: 3rem auto;
  text-align: center;
}
.moviesPage_footer button {
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 5px 10px;
  background: #393939aa 0% 0% no-repeat padding-box;
  color: #fff;
  border: #393939aa;
  outline: none;
}
.moviesPage_footer button:not(:last-child) {
  margin-right: 1rem;
}
.moviesPage_footer button:hover,
.moviesPage_footer button:active .moviesPage_footer button:focus {
  cursor: pointer;
  background: #7a7a7aaa 0% 0% no-repeat padding-box;
  color: #fff;
  border: #7a7a7aaa;
  outline: none;
}
button.moviesPage_footer_button_active {
  background-color: #7a7a7aaa;
  color: #fff;
  border: #7a7a7aaa;
}
