/* BIG CARD INFO STYLES */
.bigCardInfo {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  z-index: 10;
}

/* MOVIE NAME STYLES */

.movieName {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1;
  font-family: "Roboto";
  font-size: 35px;
  width: 200px;
  font-weight: 400;
  margin-bottom: 13px;
  margin-top: 0;
  transition: all 0.5s;
}
.movieName:hover,
.movieName:active {
  cursor: pointer;
  transform: scale(1.07);
}

/* 
MOVIE INFO STYLES
 */

.movieInfo {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
}

.movieInfo span:not(:last-child) {
  margin-right: 10px;
}

.movieRestriction {
  background-color: #7c7c7c;
  border-radius: 2px;
  margin-top: 0;
}
