/* INFORMATION TITLE STYLES */
.info_title {
  color: #bebebe;
  margin-bottom: 0;
  text-transform: capitalize;
}
/* INFORMATION DETAIL STYLES */
.info_detail {
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 0.3rem;
}
